/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
  color: black;
  white-space: pre;
}

h1{
  margin: 0;
}

li{
  margin: 0 0 10px 5px;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Header ---- */
.header-parent{
  z-index: 2;
  position: fixed;
  width: 100%
}

.main-header {
  background-color: white;
  margin: 0;
  padding: 8px 0 8px 0;
  height: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid black;
}

a {
  font-size: 26px;
  margin:-10px 0 0 30px;
}

button {
  height: 28px;
  background-color: white;
  border: 2px solid black;
  font-size: 15px;
  margin:-8px 50px 0 0;
  box-shadow: 3px 3px 3px black;
}

button:active {
  background-color: gray;
}

button:focus {
  outline:0;
}

/* ---- sidebar ---- */

.afterHeader {
  display: flex;
}

.header-wrapper {
  flex: 0 0 100px;
  border-right: 4px solid black;
  flex-grow: 0.5;
}

.categories, .allmovies{
  margin-top: 32px;
}

.categories {
  position: fixed;
  height: 100%;
  width: 100%;
}

.categories h1 {
  background-color: grey;
  border-bottom: 4px solid black;
}

.categories li {
  padding: 4px 0 0 7px;
  font-size: 20px;
}

/* ---- main-section ---- */

.allmovies {
  flex-grow: 3;
  padding-left: 30px;
  z-index: 1;
  background-color: white;
}

.allmoviesheader {
  font-size: 70px;
}

.allmovies {
  display: flex;
  flex-direction: column;
}

#drama {
  display: flex;
  flex-direction: column;
}

.movie-info li {
  display: inline-block;
  flex-grow: 1;
}

.movie-info button {
  margin: 10px 0 2px 0;
}

.movie-name {
  margin-left: 20px;
  font-size: 1.3em;
}

.time {
  margin-left: 160px;

}