/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
}
html, body, #container {
  height: 100%;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
	text-decoration: none;
  color: black;
  white-space: pre;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Header ---- */

.main-header {
  margin: 0;
  padding: 8px 0 8px 0;
  height: 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

a {
  font-size: 28px;
  margin:-10px 0 0 30px;
}

button {
  height: 30px;
  background-color: white;
  border: 2px solid black;
  font-size: 15px;
  margin:-8px 50px 0 0;
  box-shadow: 3px 3px 3px black;
}

button:active {
  background-color: gray;
}

button:focus {
  outline:0;
}

/*.cat-parent {
  position: fixed;
  width: 15%;
  height: 100%;
  background-color: green;
  top: 3.8em;
  left: 0;
}
.categories{
  display: flex;
  width: 400px;
  height: 400px;
  flex-direction: column;
}

.main-content {
  display: flex;

}

.allmovies{
  flex-direction: row;
}*/